body {
  background-color: rgb(46, 62, 155);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: rgba(245, 255, 255, 0.936);
  text-shadow: 0.25px 0.25px 1px rgba(0, 0, 0, 0.5);
}

.buttonContainer,
.addNetworkButtonContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
}

.buttonContainer button,
.addNetworkButtonContainer button {
  width: 140px;
}

.containerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  column-gap: 16px;
  margin: 0 20px 10px 20px;
}

.containerButtons button {
  width: 130px;
  /* calc(130px + (180 - 130) * ((100vw - 552px) / (1872 - 552))); */
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-bottom: none;
  border-right: none;
  border-radius: 24px;
  border-width: 0.1rem;
}

.button,
.addNetworkButton {
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 22px;
  border-radius: 8px;
  background: linear-gradient(to top left, rgb(50, 102, 145), rgb(53, 64, 92));
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  border-color: rgb(56, 108, 151);
  border-bottom: none;
  border-right: none;
  border-radius: 24px;
  color: azure;
  border-width: 0.1rem;
}

.button:hover,
.addNetworkButton:hover {
  cursor: pointer;
  transform: scale(1.1);
  background: linear-gradient(to bottom right, #cb9f10, #8d6f06);
  text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.582);
  border: solid 0.1rem #d1a71d;
  border-bottom: none;
  border-right: none;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  transition: ease-in-out 0.25s;
  filter: brightness(1.2) contrast(120%);
}

.containerNetworkFeatures {
  width: 100%;
  display: flex;
  column-gap: 16px;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  column-gap: 28px; */
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  color: rgba(240, 255, 255, 0.855);
}

.connectedContainerContainer {
  width: 130px;
  /* calc(130px + (180 - 130) * ((100vw - 552px) / (1872 - 552))); */
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 24px;
  background: linear-gradient(
    to bottom right,
    rgba(240, 255, 255, 0.238),
    rgba(240, 255, 255, 0.172),
    rgba(240, 255, 255, 0.12)
  );
  text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.2);
}

.connectedText {
  text-align: left;
  font-size: 0.9rem;
  line-height: 12px;
  margin: 0 0 0 16px;
}

.divider {
  margin: 0 10px 4px 2px;
  /* calc(10px + (90 - 10) * ((100vw - 552px) / (1872 - 552))) */
  /* margin-right: ; */
  font-size: 2rem;
}

.connectedCount {
  font-size: 2.2rem;
  margin: 0 12px 0 0;
}

.innerButton,
.form-button {
  width: 130px;
  /* calc(130px + (180 - 130) * ((100vw - 552px) / (1872 - 552))); */
  font-size: 0.9rem;
  font-weight: 600;
  padding: 12px 10px;
  margin: 0 4px;
  border-radius: 8px;
  background: linear-gradient(
    to top left,
    rgb(220, 234, 234),
    rgb(190, 209, 209),
    rgb(137, 170, 170)
  );
  border-color: rgb(255, 255, 255);
  border-bottom: none;
  border-right: none;
  border-radius: 24px;
  color: rgba(0, 0, 0, 0.684);
  border-width: 0.1rem;
}

.innerButton:hover,
.form-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background: linear-gradient(to bottom right, #cb9f10e8, #8d7006e8);
  text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.582);
  border: solid 0.1rem #d1a71d;
  border-bottom: none;
  border-right: none;
  color: azure;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.2s;
}

.deleteNetworkButton {
  position: absolute;
  top: 12px;
  right: 18px;
  text-align: center;
  padding-bottom: 3px;
  width: 26px;
  height: 26px;
  font-weight: bolder;
  background: linear-gradient(
    to top left,
    rgb(220, 234, 234),
    rgb(190, 209, 209),
    rgb(137, 170, 170)
  );
  border: solid 0.07rem rgb(255, 255, 255);
  border-bottom: none;
  border-right: none;
  border-radius: 14px;
}

.deleteNetworkButton:hover {
  cursor: pointer;
  padding: 0 1px 2px 0;
  transform: scale(1.1) translate(-1px, -1px);
  background: linear-gradient(to bottom right, #d8a90e, #9c7c06);
  text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.582);
  border: solid 0.05rem #d1a71d;
  border-bottom: none;
  border-right: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.2s;
  color: azure;
}

.userNetwork {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    #3d6c70,
    #3a5d60,
    #3a5d60,
    #2c474a
  );
  border-radius: 24px;
  padding: 20px;
  margin: 40px;
  min-width: 80vw;
  position: relative;
  border-top: solid 0.15rem #4c99a0;
  border-left: solid 0.15rem #4c99a0;
  border-width: 0.1rem;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.defaultNetwork {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 24px;
  padding: 20px;
  margin: 40px;
  min-width: 80vw;
  position: relative;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  color: rgb(245, 255, 255);
  background: linear-gradient(
    to bottom right,
    #b6b6bd,
    #a3a3a8,
    #88868d,
    #696970
  );
  border-top: solid 0.15rem #dddbeb;
  border-left: solid 0.15rem #eae8f0;
  border-width: 0.1rem;
  align-self: center;
}

.defaultNetwork .connectedContainerContainer {
  background: linear-gradient(
    to bottom right,
    rgba(33, 35, 35, 0.103),
    rgba(13, 14, 14, 0.158),
    rgba(0, 0, 0, 0.205)
  );
}

.defaultNetwork:hover .networkLabel {
  text-shadow: 0.25px 0.25px 2.5px rgba(0, 0, 0, 0.5);
}

.defaultNetwork:hover .connectedContainerContainer {
  background: linear-gradient(
    to bottom right,
    rgba(33, 35, 35, 0.103),
    rgba(13, 14, 14, 0.125),
    rgba(0, 0, 0, 0.142)
  );
}

.defaultNetwork:hover,
.network:hover {
  filter: brightness(1.1) contrast(120%);
  transition: ease-in-out 0.3s;
}

.hostContainer {
  background: linear-gradient(to bottom right, #3d6c70fe, #3a5d60, #3a5d60);
  border-radius: 24px;
  padding: 10px 20px;
  border-top: solid 0.15rem #4c99a0;
  border-left: solid 0.15rem #4c99a0;
  border-width: 0.1rem;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.hostContainer h1 {
  font-size: 2rem;
}

.networkContainer {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.networkContainer hr {
  width: 100%;
  height: 2px;
  background-color: rgba(240, 255, 255, 0.35);
  box-shadow: 0.25px 0.25px 0.5px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 2px;
  margin: 6px auto 14px;
}

.networkLabel {
  padding: 0 28px;
}

.deleteNetworkButton {
  position: absolute;
  top: 12px;
  right: 18px;
  text-align: center;
  padding-bottom: 3px;
  width: 22px;
  height: 22px;
  font-weight: bolder;
  background-color: azure;
  border-width: 0.05rem;
  border-radius: 12px;
}

.deleteNetworkButton:hover {
  cursor: pointer;
  padding: 0 1px 2px 0;
  transform: scale(1.1) translate(-1px, -1px);
  background: linear-gradient(to bottom right, #ba9311, #6b5506);
  border: solid 0.05rem #d1a71d;
  border-bottom: none;
  border-right: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.2s;
  color: azure;
}

.containersContainer {
  height: 100%;
  width: 100%;
  margin: 0;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  column-gap: 20px;
  justify-items: center;
}

.container {
  width: calc(375px + (565 - 375) * ((100vw - 552px) / (1872 - 552)));
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to top left, rgb(46, 87, 120), rgb(47, 54, 71));
  border-radius: 24px;
  margin: 20px;
  border-top: solid 0.15rem #546795;
  border-left: solid 0.15rem #5f719b;
  border-width: 0.1rem;
  box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.281);
}

.containerHeader {
  width: 100%;
  text-align: center;
  padding: 0 20px 0;
  font-size: 1.1rem;
}

.footerContainer {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container hr {
  width: 100%;
  height: 2px;
  background-color: rgba(240, 255, 255, 0.2);
  box-shadow: 0.25px 0.25px 0.5px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 2px;
  margin: 10px auto;
}

.containerButtons hr {
  justify-self: center;
  align-self: start;
  width: 90%;
  margin-left: 10px;
  margin-right: 10px;
}

.defaultNetwork .containerHeader hr {
  margin: 0 6px 10px 0;
}

.containerInfoContainer {
  width: calc(375px + (565 - 375) * ((100vw - 552px) / (1872 - 552)));
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 24px;
}

.withPorts {
  display: flex;
  flex-direction: column;
  width: calc(375px + (565 - 375) * ((100vw - 552px) / (1872 - 552)));
  height: 100%;
  padding: 10px 0px 10px 20px;
  margin-right: 20px;
  margin-top: 22px;
  overflow: auto;
  text-overflow: ellipsis;
}

.noPorts {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0 20px;
  overflow: auto;
  text-overflow: ellipsis;
}

.noPorts hr {
  margin-bottom: 0;
}

.noPorts .containerButtons {
  width: 100%;
  align-self: center;
}

.clipText {
  width: 100%;
  overflow: auto;
  text-overflow: ellipsis;
}

.containerInfo::-webkit-scrollbar-thumb {
  background: rgba(245, 255, 255, 0.134);
}

.containerInfo p {
  margin: 0;
  font-size: 1rem;
  text-overflow: clip;
  padding-right: 100px;
  text-overflow: ellipsis;
  /* word-wrap: break-word; */
}

.containerInfo {
  margin-bottom: 10px;
}

.containerInfo hr {
  margin: 10px auto;
  padding: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(240, 255, 255, 0.2);
  border: none;
  border-radius: 1px;
}

.containerform {
  color: black;
}

.portInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  height: 220px;
  list-style: none;
  background: linear-gradient(to bottom right, #106d75, #105157);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  padding: 20px 20px 20px;
  margin: 6px 20px 6px 0;
}

.portInfo li {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.portInfo hr {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(240, 255, 255, 0.2);
  border: none;
  border-radius: 1px;
}

/* Form */

.modalContainer {
  width: calc(400px + (565 - 400) * ((100vw - 552px) / (1872 - 552)));
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to top left, rgb(46, 87, 120), rgb(47, 54, 71));
  border: solid 0.05rem #5f719d;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 24px;
  color: rgba(245, 255, 255, 0.936);
}

.form-container {
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0 0;
  text-align: center;
}

.form hr {
  width: 100%;
  height: 2px;
  background-color: rgba(240, 255, 255, 0.35);
  box-shadow: 0.25px 0.25px 0.5px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 2px;
  margin: 6px auto;
}

.formLabel {
  /* text-decoration: 1.5px underline; */
  font-weight: 600;
}

.form-select {
  margin: 10px;
  width: calc(300px + (440 - 300) * ((100vw - 552px) / (1872 - 552)));
  padding: 6px 12px;
  /* color: white; */
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  background: linear-gradient(
    to top left,
    rgba(75, 122, 157, 0.664),
    rgba(81, 89, 109, 0.681)
  );
  border-radius: 18px;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-select option {
  color: black;
}

.form-select:hover {
  cursor: pointer;
}

.form-button {
  margin: 20px auto 0;
}

#addNetworkForm {
  display: flex;
  /* position: absolute; */
  z-index: 2;
  /* padding: 5%; */
  width: 90%;
  height: 45%;
  top: 20%;
  opacity: 95%;
  flex-direction: column;
  justify-content: left;
}

#addNetworkFormTitle {
  color: #ffffff;
  text-align: center;
}

.addNetworkFormLabel {
  color: #ffffff;
}

.addNetworkTextInput {
  display: flex;
}

.addNetworkTextInput input {
  order: 2;
  width: 65%;
}

.addNetworkTextInput label {
  order: 1;
  padding-right: 3%;
  text-align: right;
  width: 30%;
}

.addNetworkTextInput input[disabled] + label {
  color: rgb(145, 145, 145);
}

/* .addNetworkFormInput {
  width: 80%;
} */

#closeAddNetworkFormContainer {
  display: flex;
  justify-content: right;
}

#closeAddNetworkFormButton:hover {
  cursor: pointer;
}

#addAdditionalGatewayOrSubnet {
  display: flex;
  justify-content: space-between;
}

.listHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

#submitAddNetworkFormButton {
  width: 40%;
  align-self: center;
  margin-right: 5%;
}

#containerForAddNetworkFormSubmit {
  display: flex;
  justify-content: right;
  margin-top: 10%;
}

.networkInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 85%;
}

.editPortInfo {
  list-style: none;
}
